# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vs/

tf-api/bin/Debug/net8.0/tf-api.dll
tf-api/bin/Debug/net8.0/tf-api.exe
tf-api/bin/Debug/net8.0/tf-api.pdb
tf-api/obj/Debug/net8.0/tf-api.AssemblyInfo.cs
tf-api/obj/Debug/net8.0/tf-api.AssemblyInfoInputs.cache
tf-api/obj/Debug/net8.0/tf-api.GeneratedMSBuildEditorConfig.editorconfig
tf-api/obj/Debug/net8.0/tf-api.assets.cache
tf-api/obj/Debug/net8.0/tf-api.csproj.AssemblyReference.cache
tf-api/obj/project.assets.json
tf-api/obj/project.nuget.cache
tf-api/obj/tf-api.csproj.nuget.dgspec.json
tf-api/obj/tf-api.csproj.nuget.g.props