.TodoList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

.TodoList > ul{
     background-color: var(--background);
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
button{
    background-color: #dc3545;
  color: var(--text);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}