.TodoList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

.TodoList > ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}