/* Dashboard.css */
body {
    font-family: 'Arial', sans-serif;
    background: var(--background);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Förhindra horisontell scrollning */
}

.dashboard-page {
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    flex: 1; /* Gör att innehållet tar upp all tillgänglig plats */
    transition: margin-left 0.3s ease;
    padding: 20px;
    box-sizing: border-box; /* Inkludera padding i bredden */
    margin-top: 50px;
}

.dashboard-content.sidebar-open {
    margin-left: 250px; /* Justera detta värde beroende på sidomenyns bredd */
}

.dashboard {
    padding: 20px;
}

.dashboard-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden; /* Lägg till detta för att förhindra att innehållet skjuts utanför */
}

.dashboard-title {
    color: var(--text);
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--primary);
    border-radius: 10px;
}

.dashboard-subtitle {
    color: var(--text);
    text-align: center;
    margin-bottom: 20px;
}

.grid-item {
    border: 1px solid #141414;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-item__title {
    font-size: 16px;
    color: #fff;
    padding: 8px;
    text-align: center;
    background: var(--primary);
    border-bottom: 1px solid #141414;
    cursor: move;
}

.grid-item__content {
    flex: 1;
    padding: 10px;
    color: rgba(255, 255, 255, 0.9);
    background: var(--secondary-background);
}

.grid-item__content .panel {
    box-shadow: none;
    border: none;
}

.react-resizable-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1zbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUgMTMuNUwxMy41IDEwLjVNMTAuNSAxNi41TDE2LjUgMTAuNU0xMC41IDE5LjVMMTkuNSAxMC41IiBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMiIgLz4KPC9zdmc+Cg==') no-repeat center center;
    background-size: 16px 16px;
    border: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.react-resizable-handle:hover {
    opacity: 1;
}

.resizing {
    border: 2px dashed var(--accent);
    background-color: rgba(0, 255, 0, 0.1);
}